body {
    margin-top: 46px;
    background-color: #51545e;
    color: whitesmoke;
}

#main_container {
    background-color: #131010;
    height: 413px;
    border-radius: 5px;
}

.headerMain,
.score_names,
.who_wins {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.score_names {
    gap: 30px;
    font-family: sans-serif;
    font-size: 15px;
    margin-top: -18px;
}

.who_wins,
.tie {
    margin-bottom: 9px;
    font-size: 22px;
    font-family: serif;
    color: white;
    text-align: center;
}

.points {
    text-align: center;
    font-size: 24px;
    font-family: sans-serif;
    margin-top: -2px;
}

.header1,
.header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    margin-top: 9px;
}

.headerMain {
    flex-direction: column;
}

.options {
    display: flex;
    align-items: center;
    gap: 67px;
    justify-content: center;
}

.final_rule {
    text-align: center;
    font-size: 18px;
}

.rules_title {
    text-align: center;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 19px;
    margin-bottom: -22px;
    font-weight: bold;
}

.rules ol {
    display: flex;
    flex-direction: column;
    margin-left: 155px;
}

.onload {
    position: absolute;
    background-color: #42538d;
    width: 95%;
    padding: 18px;
    border-radius: 10px;
    transition: ease-in-out 2s;
    color: whitesmoke;
    transform: translateY(-204px);
}

.onload:hover {
    transform: translateY(-50px);
}

.begin {
    border-radius: 5px;
}

.begin_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border-radius: 5px;
    font-weight: bold;
    padding: 8px;
    width: 100px;
    background-color: #ad8555;
    font-size: 18px
}

button:hover {
    background-color: darkgrey;
}

.play_btn {
    position: relative;
    width: 184px;
    margin-left: 296px;
}

button#play_btn {
    position: absolute;
    background-color: yellow;
    font-size: 16px;
    width: 100%;
    height: 47px;
    transform: translateY(-900px);
    transition: 2s ease-in;
    text-align: center;
    z-index: 1;
}

@media (max-width:600px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .onload {
        width: 81%;
        transform: translateY(-226px);
    }
    .header1,
    .header {
        font-size: 22px;
    }
    .points {
        font-size: 20px;
    }
    .rules ol {
        margin-left: -18px;
    }
    .options {
        gap: 19px;
    }
    button {
        width: 89px;
    }
    .who_wins,
    .tie {
        font-size: 17px;
    }
    .play_btn {
        width: 220px;
        margin-left: 71px;
    }
    #main_container {
        background-color: #131010;
        height: 376px;
        border-radius: 5px;
        width: 95%;
    }
}